* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

body{
  padding: 10px;
}

.card{
  height: 225px;
  width: 100px;
  border-radius: 4px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  height: 200px;
  text-align: center;
}

.main-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  
  background-color: burlywood;
  gap: 20px;
  padding: 20px;

  justify-items:  center;
  

}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}