* {
  margin: 0;
}

.card{
  height: 150px;
  width: 100px;
}

.header{
  height: 100px;
  text-align: center;
}

.main-container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
}