* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.card{
  height: 300px;
  width: 150px;
  border-radius: 4px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  height: 100px;
  text-align: center;
}

.main-container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
}